[color]
	ui = true
[user]
	name = Seth Hoenig
	email = hoenig@indeed.com
[github]
	user = shoenig
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	st = status
	cout = checkout
	co = checkout
	df = diff
	pullf = pull --ff-only
	diffs = diff --cached
	ignore = update-index --skip-worktree
[core]
	editor = mg
	excludesfile = /home/hoenig/.gitignore
[merge]
	tool = mg
[push]
	default = current
