[color]
	ui = true
[user]
	name = Seth Hoenig
	email = seth.a.hoenig@gmail.com
[github]
	user = shoenig
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	st = status
	cout = checkout
	co = checkout
	df = diff
	pullf = pull --ff-only
	diffs = diff --cached
[core]
	editor = emacs
	excludesfile = /home/seth/.gitignore
[merge]
	tool = meld
[push]
	default = current
