# https://starship.rs/config
# ~/.config/starship.toml

format = """
$directory\
$cmd_duration\
$line_break\
$character\
$git_branch\
$git_commit\
$git_status\
$git_state
"""

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[directory]
style = "white"
truncation_length = 3
truncate_to_repo = true
read_only = ""
read_only_style = "red"
home_symbol = "~"

[cmd_duration]
format = "[$duration]($style)"
min_time = 1_000
style = "yellow"

[git_branch]
symbol = ""
always_show_remote = false

[git_commit]
only_detached = true
tag_disabled = false
tag_symbol = " | "

[git_status]
modified = "m"
deleted = "d"
staged = "s"
renamed = "r"
untracked = "u"
style = "red"

[git_state]
rebase = "!REBASE"
merge = "!MERGE"
revert = "!REVERT"
cherry_pick = "!PICKING"
bisect = "!BISECT"

