# belongs in ~/.config/helix/config.toml
# probably want Go LSP; go install golang.org/x/tools/gopls@latest

theme = "gruvbox" 
# darcula 
# sonokai

[editor]
true-color = true
rulers = [80]
bufferline = "never"

[keys.normal]
C-a = "goto_line_start"
C-e = "goto_line_end"
C-up = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
C-down = ["extend_to_line_bounds", "delete_selection", "paste_after"]

[keys.insert]
C-a = "goto_line_start"
C-e = "goto_line_end"
