[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VSCode
Comment=Visual Studio Code
Icon=ghex
Exec=/usr/local/bin/vscode
Terminal=false
Categories=Code,VS,VSCode

